<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="game.name" name="name" />
            </div>

            <div class="form-group">
                <label for="startDate">Fecha de Inicio</label> <br>
                <mat-form-field appearance="fill">
                    <input class="form-control date" [(ngModel)]="game.startDate" matSelect [matDatepicker]="picker" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <button (click)="saveGame()" class="btn btn-success">Crear</button>
        </div>

        <div *ngIf="submitted">
            <h4>Creaste un nuevo juego!</h4>
            <button class="btn btn-success" (click)="newGame()">Add</button>
        </div>
    </div>
</div>