<div class="container">

    <div class="list row">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="name" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
                Buscar
            </button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h4>Lista de Cartones (Por Juego)</h4>

            <div>
                <div (click)="openSublist(game.id)" class="game-item" *ngFor="let game of games;">
                    <span class="name"> {{ game.name }}
                        <i id="icon-{{ game.id }}"  class="fas fa-caret-down"></i>
                    </span>
                    <div style="display: none;" class="sublist" id="game-{{game.id}}">
                        <ul class="list-group">
                            <div *ngFor="let card of cards; let i = index" [class.active]="i == currentIndex" (click)="setActiveGame(card, i)">
                                <li *ngIf="card.gameCode == game.id" class="list-group-item">
                                    <a routerLink="/cards/{{ card.id }}"> {{ card.name }} </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <button class="btn add-game" routerLink="/add">Crear Nuevo Carton</button>
</div>