.list-group-item {
    //border: none;
    padding: 0;
    height: 45px;
    margin: 10px 0;
    border-radius: 6px;
    line-height: 22px;
    width: 95%;
    a {
        color: black;
        padding: 10px;
        height: 45px;
        width: 100%;
        display: block;
    }
}

.btn {
    background-color: #00B0F6;
    color: white;
    border-radius: 5px;
    margin: 3px;
}

.bingo-card {
    background-color: #00B0F6;
    border-radius: 35px;
    padding: 25px;
    max-width: 520px;
    color: white;
    .row {
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    .col {
        text-align: center;
        padding: 0;
        padding: 0!important;
        margin: 0!important;
        flex-basis: 20%;
        max-width: 20%;
        .card-letter {
            font-size: 3rem;
            line-height: 1.5;
            text-align: center;
            padding: .25em;
            margin: 0;
            color: white;
        }
        .card-numbers {
            border-top: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            .card-number {
                font-size: 3rem;
                background: #fff;
                border: 1px solid #cecece;
                text-align: center;
                padding: .45em;
                margin: 0;
                color: black;
            }
            .card-number-center {
                background: #fff;
                padding: 0;
                margin: 0;
                .freespace {
                    img {
                        max-width: 65px;
                    }
                }
            }
        }
    }
}


.container {
    margin-top: 20px;
}

h1:hover {
    cursor: pointer;
}

.game-item {
    margin: 15px 0px;
    background: #eeeeee;
    min-height: 50px;
    padding-left: 12px;
    padding-top: 15px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
    .name {
        font-size: 19px;
        width: 100%;
        display: block;
        height: 100%;
    }
    .sublist {
        max-height: 50vh;
        overflow-y: scroll;
    }
}