<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Nombre</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="card.name" name="name" />
            </div>

            <div class="form-group">
                <label for="phonenumber">Numero de Telefono</label>
                <input class="form-control" id="phonenumber" required [(ngModel)]="card.phonenumber" name="phonenumber" />
            </div>

            <div class="form-group">
                <label for="email">Correo Electronico</label>
                <input class="form-control" id="email" required [(ngModel)]="card.email" name="email" />
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Codigo de Juego</mat-label>
                    <mat-select>
                        <mat-option ngDefaultControl *ngFor="let game of games" [(ngModel)]="card.gameCode" [value]="game.code">
                            {{ game.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button (click)="saveCard()" class="btn btn-success">Crear</button>
        </div>

        <div *ngIf="submitted">
            <h4>Creaste un nuevo carton!</h4>
            <button class="btn btn-success" (click)="newCard()">Add</button>
        </div>
    </div>
</div>