.btn {
    background-color: #00B0F6;
    color: white;
    border-radius: 5px;
    &.add-game {
        margin-top: 10px;
    }
}

.list-group-item:hover {
    cursor: pointer;
}

.raffle {
    margin: 20px 0;
}

.container {
    padding: 30px;
}