.btn {
    background-color: #ededed;
    color: black;
    border-radius: 5px;
    &.add-game {
        margin-top: 10px;
    }
}

.list-group-item:hover {
    cursor: pointer;
}

.raffle {
    margin: 20px 0;
}