<div class="container">
    <div *ngIf="!gameStarted">
        <div *ngIf="currentGame">
            <form class="edit-form">
                <div class="form-group">
                    <label for="title">Nombre</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="currentGame.name" name="name" />
                </div>
                <div class="form-group">
                    <label for="code">Codigo de Juego</label>
                    <input type="text" class="form-control" id="code" [(ngModel)]="currentGame.id" name="id" />
                </div>
                <div class="form-group">
                    <label for="startDate">Fecha Inicio</label> <br>
                    <mat-form-field appearance="fill">
                        <input class="form-control date" name="startDate" [(ngModel)]="currentGame.startDate" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label for="raffleType">Tipo de Tombola</label> <br>
                    <input name="raffleType" type="radio" [(ngModel)]="currentGame.settings.raffleType" value="digital" /> Digital
                    <input name="raffleType" type="radio" [(ngModel)]="currentGame.settings.raffleType" value="physic" /> Fisica
                </div>
            </form>

            <div class="buttons">
                <button type="submit" class="btn btn-success" (click)="updateGame()"> <i class="fas fa-save"></i> Guardar  </button>
                <button class="btn btn-danger" (click)="deleteGame()"><i class="fas fa-trash"></i> Borrar </button> <br>
                <button *ngIf="!currentGame.settings.gameStarted" class="btn start-game" (click)="startGame()"> <i class="fas fa-play"></i> INICIAR JUEGO  <i class="fas fa-play"></i></button>
                <button *ngIf="currentGame.settings.gameStarted" class="btn start-game" (click)="startGame()"> <i class="fas fa-play"></i> CONTINUAR JUEGO  <i class="fas fa-play"></i></button>
            </div>
        </div>
    </div>
    <div *ngIf="gameStarted && currentGame">
        <div class="bingo-allnumbers">
            <div id="board" class="flex">
                <div class="row no-wrap set-size text-center notranslate">
                    <div class="col board-letter white-bg red-text">B</div>
                    <div *ngFor="let number of array_b" class="col ball">
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" class="clickable" *ngIf="currentGame.settings.raffleType == 'physic'" (click)="!isInArray(number) && addToGame(number)"> 
                             {{number}} 
                        </span>
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" *ngIf="currentGame.settings.raffleType == 'digital'"> {{number}} </span>
                    </div>
                </div>
                <div class="row no-wrap set-size text-center notranslate">
                    <div class="col board-letter white-bg red-text">I</div>
                    <div *ngFor="let number of array_i" class="col ball">
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" class="clickable" *ngIf="currentGame.settings.raffleType == 'physic'" (click)="!isInArray(number) && addToGame(number)"> 
                            {{number}} 
                       </span>
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" *ngIf="currentGame.settings.raffleType == 'digital'"> {{number}} </span>
                    </div>
                </div>
                <div class="row no-wrap set-size text-center notranslate">
                    <div class="col board-letter white-bg red-text">N</div>
                    <div *ngFor="let number of array_n" class="col ball">
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" class="clickable" *ngIf="currentGame.settings.raffleType == 'physic'" (click)="!isInArray(number) && addToGame(number)"> 
                            {{number}} 
                       </span>
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" *ngIf="currentGame.settings.raffleType == 'digital'"> {{number}} </span>
                    </div>
                </div>
                <div class="row no-wrap set-size text-center notranslate">
                    <div class="col board-letter white-bg red-text">G</div>
                    <div *ngFor="let number of array_g" class="col ball">
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" class="clickable" *ngIf="currentGame.settings.raffleType == 'physic'" (click)="!isInArray(number) && addToGame(number)"> 
                            {{number}} 
                       </span>
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" *ngIf="currentGame.settings.raffleType == 'digital'"> {{number}} </span>
                    </div>
                </div>
                <div class="row no-wrap set-size text-center notranslate">
                    <div class="col board-letter white-bg red-text">O</div>
                    <div *ngFor="let number of array_o" class="col ball">
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" class="clickable" *ngIf="currentGame.settings.raffleType == 'physic'" (click)="!isInArray(number) && addToGame(number)"> 
                            {{number}} 
                       </span>
                        <span [class.selected]="isInArray(number) ? 'selected' : ''" *ngIf="currentGame.settings.raffleType == 'digital'"> {{number}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="last-calls">
            <p> Ultimos numeros: </p>
            <span *ngFor="let number of currentGame.settings.selectedNumbers?.slice(-5); index as i;">
               <span *ngIf="number != lastNumber"> 
                   {{ number }}  
                </span>
            </span>
            <span *ngIf="lastNumber">
                <span class="last"> {{ lastNumber }} </span>
            </span>
        </div>
        <div class="raffle container-fluid" *ngIf="currentGame.settings.raffleType == 'digital'">
            <div class="col-md-6 d-inline-block">
                <button *ngIf="!showRaffle" class="btn" (click)="getRandomNumber(1,75)"> <i class="fas fa-undo"></i> Girar Tombola <i class="fas fa-undo"></i> </button> <br>
                <div>
                    <img *ngIf="showRaffle" src="../../../assets/bingo.gif " />
                    <img *ngIf="!showRaffle" src="../../../assets/bingo-paused.jpg" />
                    <div *ngIf="lastNumber && !showRaffle" class="ball">
                        {{ lastNumber }}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-inline-block">
                <h2> Ranking </h2>
            </div>
        </div>
        <div class="buttons">
            <button class="btn" (click)="restartGame()"> <i class="fas fa-recycle"></i> Reiniciar el Juego  </button>
            <button class="btn" (click)="this.gameStarted = false"> <i class="fas fa-arrow-circle-left"></i> Salir  </button>
        </div>
    </div>
</div>